.section{
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: #ced4da;

	.wrapper{
		background-color: #fff;
		width: 20%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0 1.5rem;

		.heading-3{ text-align: center; }
	
		.form{
			.input{
				margin-bottom: 1.5rem;
				font-size: 1.1rem;
				border: none;
				border-bottom: 1px solid #ced4da;
				transition: all .3s;
			
				&:focus{
					outline: none;
					border-bottom: 1px solid #1971c2;
				}

				&::-webkit-input-placeholder{
					font-family: calibri;
				}
			}

			.btn{
				display: inline-block;
				margin-bottom: 3rem;
				height: 2rem;
				width: 15rem;
				margin-top: 1rem;
				cursor: pointer;
				font-size: 1.1rem;
			}
		}
	}
}